:root {
  --color-prim: #4b5162;
  --color-sec: #30353a;
  --color-dark: #2e3440;
  --color-dark2: #383c4a;
  --color-blue: #5294e2;
  --color-green: #00a676;
  --color-gray: #7c818c;
  --color-red: #CC575D;
  --app-fonts: 'MesloLGS NF', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root, body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background: var(--color-prim);
  color: white;
  font: 1em var(--app-fonts);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
